<div class="lblue-wrapper">
  <div class="container text-center">
    <h3>You have no scans yet.</h3>
    <p style="font-size: 24px;">Paste a URL into the search below to WissenScan your first article and check its bias.<br><%= link_to "Download", "#", class: "link-intext" %> the MyWissen Chrome extension so you don't need to copy and paste every time.</p>
    <div class="row" style="margin-top: 30px;">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <%= render 'shared/search' %>
      </div>
    </div>
  </div>
</div>
