<div class="blue-wrapper">
  <div class="container text-center">
    <p style="font-size: 24px; color: white;">Check out</p>
    <h3><%= link_to "New York Times", "www.nytimes.com", class:"link-white" %></h3>
  </div>
</div>
