<div class="footer">
  <div id="social-links">
    <a href="">
      <i class="fa fa-github" aria-hidden="true"></i>
    </a>
    <a href="https://kar.kent.ac.uk/53649/1/Cichocka_et_al%202016%20PP%20Author%20PDF.pdf">
      <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </a>
  </div>
  <div id="page-links">
    <%= link_to "Home", "/" %>
    <%= link_to "About", "#" %>
    <%= link_to "Profile", current_user ? user_path(current_user) : new_user_session_path %>
    <%= link_to "Contact", "#" %>
  </div>
  <div id="copyright">
    <p><i class="fa fa-copyright" aria-hidden="true"></i> 2017 MyWissen</p>
  </div>
</div>
