<div class="blue-wrapper" style="padding: 80px;">
  <div class="container div-content-center">
    <div class="text-center" id="banner-content">
      <h1>MyWissen</h1>
      <p class="subheading">We are what we read.</p>
      <p class="details">With MyWissen, remind yourself what political bias the article you are reading has.</p>
      <p class="details">For more freedom of thought:</p>
    </div>
    <%= link_to "Get Started", "#get-started", class: "btn btn-bold btn-danger btn-lg" %>
  </div>
</div>
