<div id="get-started">
  <div class="container text-center">
    <h1>Get Started</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="start-card">
        <div class="ribbon"></div>
          <p class="details">Your MyWissen account keeps track of your scanned biases.</p>
          <%= link_to "Sign Up", "#", class: "btn btn-primary btn-large btn-bold btn-full-width" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-3">
        <div class="start-card">
        <div class="ribbon"></div>
          <p class="details">The MyWissen Chrome Extension automatically pops up with a political bias when you are reading an article.</p>
          <%= link_to "Get Chrome Extension", "#", class: "btn btn-primary btn-large btn-bold btn-full-width" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-7">
        <div class="start-card">
        <div class="ribbon"></div>
          <p class="details">Your MyWissen Profile shows you informative charts about the bias of articles you have read as well as your most recently scanned bias.</p>
          <%= link_to "MyWissen Profile", "#", class: "btn btn-primary btn-large btn-bold btn-full-width" %>
        </div>
      </div>
    </div>
  </div>
</div>
