<div class="lblue-wrapper">
  <div class="container div-content-center">
    <div id="search-content" class="text-center">
      <h1>Try Wissen Search</h1>
      <p class="details">Copy and paste a URL of an article and click search. When you download the MyWissen Chrome Extension, we will grab the URL for you!</p>
      <%= render 'shared/search' %>
    </div>
  </div>
</div>
