<div class="white-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>News is biased</h3>
        <p>News articles are written by humans, and humans are always biased. But biased news isn't bad news. Biased news can influence us without us knowing about it, especially when we share the same bias.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>
          Know your bias
        </h3>
        <p>We really like reading some articles, because of our own biases. The article is written in our own way of thinking. When we continue to read only these articles, we fall into an "echo chamber."</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Freedom of thought</h3>
        <p>The MyWissen Chrome Extension will remind you the bias of the article you are reading. Your MyWissen Profile will keep track of the biases you are reading, so you can try to read more diverse articles.</p>
      </div>
    </div>
  </div>
</div>
