<div id="banner-wissen">
  <div class="container div-content-center">
    <div class="text-center" id="banner-content">
      <h1>MyWissen</h1>
      <p class="subheading">We are what we read.</p>
      <p class="details">With MyWissen, remind yourself what political bias the article you are reading has.</p>
      <p class="details">For more freedom of thought:</p>
    </div>
    <%= link_to "Get Started", "#", class: "btn btn-bold btn-danger btn-lg" %>
  </div>
</div>
<div id="info-wissen">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h3>News is biased</h3>
        <p>News articles are written by humans, and humans are always biased. But biased news isn't bad news. Biased news can influence us without us knowing about it, especially when we share the same bias.</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>
          Know your bias
        </h3>
        <p>We really like reading some articles, because of our own biases. The article is written in our own way of thinking. When we continue to read only these articles, we fall into an "echo chamber."</p>
      </div>
      <div class="col-xs-12 col-sm-4">
        <h3>Freedom of thought</h3>
        <p>The MyWissen Chrome Extension will remind you the bias of the article you are reading. Your MyWissen Profile will keep track of the biases you are reading, so you can try to read more diverse articles.</p>
      </div>
    </div>
  </div>
</div>
<div id="search-wissen">
  <div class="container div-content-center">
    <div id="search-content" class="text-center">
      <h1>Try Wissen Search</h1>
      <p class="details">Copy and paste a URL of an article and click search. When you download the MyWissen Chrome Extension, we will grab the URL for you!</p>
      <form class="form-group">
        <input type="text" class="form-control" style="margin-bottom: 20px;">
        <button type="submit" class="btn btn-bold btn-primary btn-lg">Search</button>
      </form>
    </div>
  </div>
</div>
<div id="started-wissen">
  <div class="container text-center">
    <h1 style="margin-bottom: 50px;">Get Started</h1>
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="start-card">
          <p class="details">Your MyWissen account keeps track of your biases.</p>
          <%= link_to "Sign Up", "#", class: "btn btn-primary btn-large btn-bold btn-full-width" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-3">
        <div class="start-card">
          <p class="details">The MyWissen Chrome Extension automatically pops up with a political bias when you are reading an article.</p>
          <%= link_to "Get Chrome Extension", "#", class: "btn btn-primary btn-large btn-bold btn-full-width" %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-sm-offset-7">
        <div class="start-card">
          <p class="details">Your MyWissen Profile shows you informative charts about the bias of articles you have read as well as your most recently scanned bias.</p>
          <%= link_to "MyWissen Profile", "#", class: "btn btn-primary btn-large btn-bold btn-full-width" %>
        </div>
      </div>
    </div>
  </div>
</div>
