.btn-bold {
  font-family: "Libre Baskerville", serif;
}

.btn-full-width {
  width: 100%;
}

.btn-mg-btm {
  margin-bottom: 10px;
}

.btn {
  transition: all ease 0.2s;
}

.link-white {
  color: $white-blue;
  transition: all ease 0.2s;
}

.link-white:hover {
  color: $dark-blue;
  text-decoration: none;
}

.link-intext {
  font-weight: bold;
  color: $blue;
  transition: all ease 0.2s;
  &:hover {
    color: $dark-blue;
    text-decoration: none;
  }
}

.link-dark {
  color: $dark-blue;
  transition: all ease 0.2s;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
}
