/* Main navbar */
.navbar-wrapper {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: $white-blue;
  transition: all 0.3s ease;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 3px solid $dark-blue;
  a {
    font-family: "Libre Baskerville", serif;
    text-decoration: none;
    color: $dark-blue;
  }
  a:hover {
    text-decoration: none;
    color: $light-blue;
  }
  .btn {
    color: $white-blue;
  }
}

.navbar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* User Avatar */
.avatar-wissen {
  height: 40px;
  width: 40px;
  border-radius: 3px;
}

.left-side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  >* {
    margin-right: 10px;
  }
  h3 {
    margin: 0;
    font-size: 30px;
  }
}

.right-side {
  * {
    transition: all ease 0.3s;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  >* {
    margin-left: 20px;
  }
}

/* Dropdown menu */
.dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px $white-blue;
  border-color: $white-blue;
}
.dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $dark-blue !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.dropdown-menu li > a:hover {
  background: transparent !important;
  color: $light-blue !important;
}
.dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 130px;
  top: -6px;
  background-color: $white-blue;
  transform: rotate(45deg);
  border-left: 1px solid $white-blue;
  border-top: 1px solid $white-blue;
}
