<div class="footer">
  background-color: $dark-blue;
  padding: 40px;
  <div id="social-links">

  </div>
  <div id="page-links">
    <%= link_to "Home", "/" %>
    <%= link_to "About", "#" %>
    <%= link_to "Profile", "#" %>
    <%= link_to "Contact", "#" %>
  </div>
</div>
